* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Cairo", sans-serif; }

.nav {
  display: flex;
  padding: 10px;
  width: 100%;
  justify-content: space-around;
  background-image: url("../images/png/bcgbar-1.png");
  background-size: cover;
  align-items: center;
  height: 120px;
  position: fixed;
  top: 0;
  background-color: #96c5dc; }

.nav nav a {
  text-decoration: none;
  padding: 20px;
  color: black; }

.nav nav a:hover {
  color: blue; }

.lang {
  border: 1px solid #1078ad;
  border-radius: 10px;
  padding: 5px; }

header {
  margin-top: 120px;
  text-align: center;
  background-image: url("../images/png/headerbcg.png"); }

header p {
  color: #1078ad; }

body .first_section {
  display: flex;
  text-align: center;
  padding-top: 30px;
  justify-content: space-around;
  flex-wrap: wrap; }
  body .first_section .image_header {
    margin-right: 80px; }
  body .first_section h1 {
    color: #1078ad; }
  body .first_section p {
    color: #7f7f7f;
    font-size: 30px; }
  body .first_section button {
    background-color: #1078ad;
    padding: 10px 200px 10px 200px;
    border: none;
    border-radius: 5px; }
    body .first_section button a {
      color: white;
      text-decoration: none;
      font-size: 20px; }

.sect_two {
  text-align: center; }
  .sect_two h2 {
    color: #1078ad;
    text-align: center;
    padding-top: 20px; }
  .sect_two .sect__two-img {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
    .sect_two .sect__two-img p {
      color: #000000;
      font-size: 30px; }

.sect__recommandation {
  background-color: #1078ad;
  font-size: 30px;
  padding-bottom: 20px; }
  .sect__recommandation h2 {
    color: #d0e5f0;
    text-align: center; }
  .sect__recommandation .sect__recommandation-flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
  .sect__recommandation .sect__recommandation-first h3 {
    color: #000000; }
  .sect__recommandation .sect__recommandation-first p {
    color: #ffffff; }
  .sect__recommandation .sect__recommandation-two h3 {
    color: #f4cf1b;
    font-size: 39px; }
  .sect__recommandation .sect__recommandation-two p.nem-tele {
    background-color: #f4cf1b;
    color: #1078ad;
    padding: 20px; }
  .sect__recommandation .sect__recommandation-two p {
    color: white;
    border-bottom: 1px solid #f4cf1b;
    text-align: center; }

.sect__demr-test {
  background-image: url("../images/png/bar.png");
  text-align: center;
  padding: 20px; }
  .sect__demr-test h2 {
    color: #1078ad; }
  .sect__demr-test button {
    background-color: #1078ad;
    padding: 10px 200px 10px 200px;
    border: none;
    border-radius: 5px; }
    .sect__demr-test button a {
      color: white;
      text-decoration: none;
      font-size: 20px; }

footer {
  text-align: center;
  padding-top: 20px;
  line-height: 40px; }
  footer h3 {
    color: #1078ad; }
  footer li {
    list-style: none; }
    footer li a {
      text-decoration: none;
      color: #2b2b2c; }
  footer .footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
  footer .tele_num {
    color: #369d53;
    font-size: large; }

.head__conseil {
  text-align: center; }
  .head__conseil h1 {
    text-align: center;
    color: #1078ad; }
  .head__conseil .conseil1 {
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap; }
  .head__conseil .lastconseil {
    text-align: center; }

.sect__Informations {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  align-items: center;
  background-image: url("../images/png/sectinfo.png");
  text-align: center;
  flex-wrap: wrap; }
  .sect__Informations h2 {
    color: #1078ad; }
  .sect__Informations p {
    color: #1a519e; }
  .sect__Informations a {
    text-decoration: none;
    color: white;
    background-color: #1078AD;
    padding: 10px; }

.sect__transmet {
  text-align: center; }
  .sect__transmet .sect__transmet-flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
  .sect__transmet h2 {
    color: #1078AD; }
  .sect__transmet p {
    color: #1A519E; }

.error {
  text-align: center;
  margin-bottom: 20px; }
  .error img {
    margin-top: 220px; }
  .error p {
    color: #1078AD;
    font-size: 50px; }
  .error button {
    background-color: #1078AD;
    padding: 10px 30px 10px 30px; }
    .error button a {
      text-decoration: none;
      color: white;
      font-size: 20px; }
