* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "Cairo", sans-serif;
}
.nav {
  display: flex;
  padding: 10px;
  width: 100%;
  justify-content: space-around;
  background-image: url("../images/png/bcgbar-1.png");
  background-size: cover;
  align-items: center;
  height: 120px;
  position: fixed;
  top: 0;
  background-color: #96c5dc;
  // flex-wrap: wrap;
}
.nav nav a {
  text-decoration: none;
  padding: 20px;
  color: black;
}
.nav nav a:hover {
  color: blue;
}
//   .nav button {
//     background-color: none;
//     border: 1px blue;
//     padding: 20px;
//     border-radius: 10px;
//   }
.lang {
  border: 1px solid #1078ad;
  border-radius: 10px;
  padding: 5px;
}
header {
  margin-top: 120px;
  text-align: center;
  background-image: url("../images/png/headerbcg.png");
}
header p {
  color: #1078ad;
}
body .first_section {
  display: flex;
  text-align: center;
  padding-top: 30px;
  justify-content: space-around;
  flex-wrap: wrap;

  .image_header {
    margin-right: 80px;
  }
  h1 {
    color: #1078ad;
  }
  p {
    color: #7f7f7f;
    font-size: 30px;
  }
  button {
    background-color: #1078ad;
    padding: 10px 200px 10px 200px;
    border: none;
    border-radius: 5px;
    a {
      color: white;
      text-decoration: none;
      font-size: 20px;
    }
  }
}
.sect_two {
  text-align: center;
  h2 {
    color: #1078ad;
    text-align: center;
    padding-top: 20px;
  }
  .sect_two-first {
    // display: flex;
    // justify-content: space-around;
    // max-width: 30%;
  }
  .sect__two-img {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    p {
      color: #000000;
      font-size: 30px;
    }
  }
}
.sect__recommandation {
  background-color: #1078ad;
  font-size: 30px;
  padding-bottom: 20px;
  h2 {
    color: #d0e5f0;
    text-align: center;
  }
  .sect__recommandation-flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .sect__recommandation-first {
    h3 {
      color: #000000;
    }
    p {
      color: #ffffff;
    }
  }
  .sect__recommandation-two {
    h3 {
      color: #f4cf1b;

      font-size: 39px;
    }
    p.nem-tele {
      background-color: #f4cf1b;
      color: #1078ad;
      padding: 20px;
    }
    p {
      color: white;
      border-bottom: 1px solid #f4cf1b;
      text-align: center;
    }
  }
}
.sect__demr-test {
  background-image: url("../images/png/bar.png");
  text-align: center;
  padding: 20px;
  h2 {
    color: #1078ad;
  }
  button {
    background-color: #1078ad;
    padding: 10px 200px 10px 200px;
    border: none;
    border-radius: 5px;
    a {
      color: white;
      text-decoration: none;
      font-size: 20px;
    }
  }
}
footer {
  text-align: center;
  padding-top: 20px;
  line-height: 40px;
  h3 {
    color: #1078ad;
  }
  li {
    list-style: none;
    a {
      text-decoration: none;
      color: #2b2b2c;
    }
  }
  .footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .tele_num {
    color: #369d53;
    font-size: large;
  }
  .bcgfooter{
    background-image: url("../images/png/bcgfooter.png");
  }
}


////////////////////////////////////////////////////page Conseil//////////////////////////////////////////////////////////////

.head__conseil {
  text-align: center;
  h1 {
    text-align: center;
    color: #1078ad;
  }
  .conseil1 {
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
  }
  .lastconseil {
    text-align: center;

  }
}
.sect__Informations {
  
  display: flex;
  justify-content: space-around;
  padding: 20px;
  align-items: center;
  background-image: url("../images/png/sectinfo.png");
  text-align: center;
  flex-wrap: wrap;
  h2 {
    color: #1078ad;
  }
  p {
    color: #1a519e;
  }
  a {
    text-decoration: none;
    color: white;
    background-color: #1078AD;
    padding: 10px;
  }

}
.sect__transmet {
  text-align: center;
  
      .sect__transmet-flex{
          display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
      }
  
    h2{
        color: #1078AD;
    }
    p{
        color: #1A519E;
    }

  }
  ////////////////////////////////////////////////////////////////////////////////////////////////
  
.error{
  text-align: center;
  margin-bottom: 20px;
  
  img{
    margin-top:220px;


  }
  p{
color: #1078AD;  
font-size: 50px;
}
button{
  background-color: #1078AD;
  padding: 10px 30px 10px 30px;
  a{
    text-decoration: none;
    color: white;
    font-size: 20px;
  }
}
}
/////////////////////////////////////////////
.page__Informations{
  margin-top: 150px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  border-top: 2px solid green ;
  // border-width: 10px;
// height: 10px;
  max-width: 380px;
  // border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}