* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Cairo", sans-serif; }

.nav {
  display: flex;
  padding: 10px;
  width: 100%;
  justify-content: space-around;
  background-image: url("../images/png/bcgbar-1.png");
  background-size: cover;
  align-items: center;
  height: 120px;
  position: fixed;
  top: 0;
  background-color: #96c5dc; }
  @media only screen and (max-width: 375px) {
    .nav {
      padding: 0px; } }

.nav nav a {
  text-decoration: none;
  padding: 20px;
  color: black; }

.nav nav a:hover {
  color: blue; }

.lang {
  border: 1px solid #1078ad;
  border-radius: 10px;
  padding: 5px; }

header {
  margin-top: 120px;
  text-align: center;
  background-image: url("../images/png/headerbcg.png");
  align-items: center;
  width: 100%; }
  @media only screen and (max-width: 375px) {
    header {
      text-align: center;
      width: 100%;
      padding: 10px;
      background-size: cover; } }

header p {
  color: #1078ad; }

body .first_section {
  display: flex;
  text-align: center;
  padding-top: 30px;
  justify-content: space-around;
  flex-wrap: wrap; }
  body .first_section .image_header {
    margin-right: 80px; }
    @media only screen and (max-width: 375px) {
      body .first_section .image_header img {
        display: flex;
        justify-content: center;
        max-width: 375px;
        margin-left: 10px;
        padding: 0px;
        padding-left: 40px; } }
  body .first_section h1 {
    color: #1078ad; }
  body .first_section p {
    color: #7f7f7f;
    font-size: 30px; }
  body .first_section button {
    background-color: #1078ad;
    padding: 10px 200px 10px 200px;
    border: none;
    border-radius: 5px; }
    @media only screen and (max-width: 375px) {
      body .first_section button {
        padding: 10px 100px 10px 100px; } }
    body .first_section button a {
      color: white;
      text-decoration: none;
      font-size: 20px; }

.sect_two {
  text-align: center; }
  .sect_two h2 {
    color: #1078ad;
    text-align: center;
    padding-top: 20px; }
  .sect_two .sect__two-img {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
    .sect_two .sect__two-img p {
      color: #000000;
      font-size: 30px; }
  @media only screen and (max-width: 375px) {
    .sect_two {
      text-align: center; } }

.sect__recommandation {
  background-color: #1078ad;
  font-size: 30px;
  padding-bottom: 20px; }
  .sect__recommandation h2 {
    color: #d0e5f0;
    text-align: center; }
  .sect__recommandation .sect__recommandation-flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
  .sect__recommandation .sect__recommandation-first h3 {
    color: #000000; }
  .sect__recommandation .sect__recommandation-first p {
    color: #ffffff; }
  .sect__recommandation .sect__recommandation-two h3 {
    color: #f4cf1b;
    font-size: 39px; }
  .sect__recommandation .sect__recommandation-two p.nem-tele {
    background-color: #f4cf1b;
    color: #1078ad;
    padding: 20px; }
  .sect__recommandation .sect__recommandation-two p {
    color: white;
    border-bottom: 1px solid #f4cf1b;
    text-align: center; }
  @media only screen and (max-width: 375px) {
    .sect__recommandation {
      text-align: center;
      padding: 6px; } }

.sect__demr-test {
  background-image: url("../images/png/bar.png");
  text-align: center;
  padding: 20px; }
  .sect__demr-test h2 {
    color: #1078ad; }
  .sect__demr-test button {
    background-color: #1078ad;
    padding: 10px 200px 10px 200px;
    border: none;
    border-radius: 5px; }
    @media only screen and (max-width: 375px) {
      .sect__demr-test button {
        padding: 10px 100px 10px 100px; } }
    .sect__demr-test button a {
      color: white;
      text-decoration: none;
      font-size: 20px; }

footer {
  text-align: center;
  padding-top: 20px;
  line-height: 40px; }
  footer h3 {
    color: #1078ad; }
  footer li {
    list-style: none; }
    footer li a {
      text-decoration: none;
      color: #2b2b2c; }
  footer .footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
  footer .tele_num {
    color: #369d53;
    font-size: large; }
  footer .bcgfooter {
    background-image: url("../images/png/bcgfooter.png"); }
  @media only screen and (max-width: 375px) {
    footer .display_div {
      display: none; } }

.head__conseil {
  text-align: center; }
  .head__conseil h1 {
    text-align: center;
    color: #1078ad; }
  .head__conseil .conseil1 {
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
    align-items: center; }
    @media only screen and (max-width: 375px) {
      .head__conseil .conseil1 {
        width: 100%;
        text-align: center;
        align-items: center;
        display: flex;
        flex-wrap: wrap; } }
    .head__conseil .conseil1 img {
      width: 72px;
      height: 72px; }
    .head__conseil .conseil1 p {
      text-align: center;
      padding: 2px;
      font-size: 15px; }
    .head__conseil .conseil1 .lastconseil img {
      width: 72px;
      height: 72px; }
  .head__conseil .lastconseil {
    text-align: center; }

.sect__Informations {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  align-items: center;
  background-image: url("../images/png/sectinfo.png");
  text-align: center;
  flex-wrap: wrap; }
  .sect__Informations h2 {
    color: #1078ad; }
  .sect__Informations p {
    color: #1a519e; }
  .sect__Informations a {
    text-decoration: none;
    color: white;
    background-color: #1078ad;
    padding: 10px; }
  @media only screen and (max-width: 375px) {
    .sect__Informations {
      display: block;
      padding: 20px; }
      .sect__Informations p {
        padding-bottom: 20px; }
      .sect__Informations a {
        display: block;
        margin: 10px; } }

.sect__transmet {
  text-align: center; }
  .sect__transmet .sect__transmet-flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
  .sect__transmet h2 {
    color: #1078ad; }
  .sect__transmet p {
    color: #1a519e; }

.error {
  text-align: center;
  margin-bottom: 20px; }
  .error img {
    margin-top: 220px; }
  .error p {
    color: #1078ad;
    font-size: 50px; }
  .error button {
    background-color: #1078ad;
    padding: 10px 30px 10px 30px; }
    .error button a {
      text-decoration: none;
      color: white;
      font-size: 20px; }

*:before,
*:after {
  box-sizing: inherit; }

body {
  overflow-x: hidden; }

.header__text {
  display: none; }

progress {
  height: 2em;
  width: 85%;
  margin-top: 1.5em; }

.numerotation {
  display: flex;
  justify-content: space-between; }
  .numerotation p {
    font-size: 2em;
    font-weight: 700;
    color: #1A519E; }

.relative {
  position: relative;
  width: 100%; }

#file {
  margin-top: 1.5em;
  width: 83.1%;
  margin-left: 10%;
  position: absolute;
  top: 8px;
  right: 5.9%; }

.main__inform {
  text-align: center;
  margin-bottom: 3%;
  padding-top: 7em; }
  .main__inform__img {
    width: 2.5em;
    height: 2.5em; }
    .main__inform__img--active {
      border: 10px solid #1078ad;
      border-radius: 50%; }
  .main__inform a {
    color: white;
    padding: 0.6% 3%;
    background-color: #1078ad;
    border-radius: 13px;
    font-size: 1em;
    font-weight: 600; }

.main__tags {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 3% auto; }

.main__tag h3 {
  color: #222222;
  font-weight: 700; }

.main__Preambule {
  width: 60%;
  margin: 2% auto;
  background-color: #96C5DC;
  padding: 3% 2% 4%;
  border-radius: 5px; }
  .main__Preambule h3 {
    color: #1078ad;
    font-weight: 700;
    font-size: 2em; }
  .main__Preambule p {
    margin: 2% 0; }

.main__questionnaire {
  text-align: center;
  padding-top: 7em; }

.main__Resultat {
  padding-top: 7em;
  text-align: center; }

.affiche__resultat {
  max-width: 65%;
  margin: 2em auto;
  padding: 2em 3em;
  background-color: #96C5DC;
  border-radius: 10px; }
  .affiche__resultat h3 {
    font-size: 2em;
    font-weight: 700;
    color: #1A519E; }
  .affiche__resultat p {
    font-size: 1.5em;
    font-weight: 500;
    margin: 1em 0; }
  .affiche__resultat span {
    font-size: 0.9em;
    color: #1A519E; }

.affiche {
  display: none; }

form {
  border: 3px solid #96C5DC;
  border-radius: 1em;
  padding: 2em 4em;
  max-width: 65%;
  margin: 3em auto; }

.barNumber {
  border: 3px solid #96C5DC;
  border-radius: 1em;
  margin-bottom: 1em; }

.questions p {
  font-weight: 700;
  font-size: 1.5em;
  color: #7F7F7F;
  height: 15vh;
  padding-top: 5%; }

.reponces {
  height: 24vh;
  display: flex;
  padding-top: 5%;
  justify-content: space-evenly;
  flex-wrap: wrap; }
  .reponces label {
    margin-left: 0.4em;
    font-size: 2em; }
  .reponces .inputText {
    margin-left: 20%; }
  .reponces div {
    width: 45%; }

#repeter {
  border: 1px dotted #1A519E;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 1.5em;
  font-weight: 600;
  background-color: #1078ad;
  margin: 2em auto; }

.inputs {
  display: flex;
  justify-content: space-between; }
  .inputs #precedent,
  .inputs #suivant,
  .inputs #resultat {
    border: 1px dotted #1A519E;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 1.5em;
    font-weight: 600;
    background-color: #1078ad; }

.reponse-inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25vh; }

.reponse-inputs input[type="number"] {
  font-size: 16px;
  border: 1px solid #1078AD;
  width: 55%;
  padding: 10px; }

.reponse-inputs .input-span {
  font-size: 22px;
  border: 1px solid #1078AD;
  border-left: none;
  padding: 4px 10px 5px;
  color: #555555;
  background-color: #edf6fa; }

.reponse-inputs input[type="radio"] {
  -webkit-appearance: none; }

.reponse-inputs input[type="radio"]:checked + label {
  background-color: #1078AD;
  color: #F4CF1B; }

.reponse-inputs label {
  height: 80px;
  width: 120px;
  color: #1078AD;
  border-radius: 4px;
  border: 4px solid #1078AD;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 9px 0px 0;
  transition: .5s ease;
  margin-right: 50px;
  margin-top: 30px; }

.reponse-inputs label span {
  font-size: 22px;
  position: relative;
  bottom: 5px; }

input:disabled {
  cursor: not-allowed; }

#quize1 {
  text-align: center;
  margin-top: 140px; }
  #quize1 label {
    color: #1078ad;
    padding: 20px;
    border: skyblue; }
  #quize1 .input {
    display: block; }
  #quize1 .btn {
    display: flex;
    justify-content: center;
    justify-content: space-evenly; }

.form__question {
  margin-top: 30px; }
